@page
@model Assign4.Pages.CheapestEventsModel
@{
}
<form id="cheapestEventsForm" asp-page-handler="GetCheapestEvents">

    <input type="submit" id="submitBtn" value="Get Cheapest Events" class="btn btn-primary" />



</form> 

<div id="CheapestEvents">


</div>