@page
@model Assign4.Pages.City_eventsModel
@{
}
<div id="Names" style="color: white;">Las Vegas: 1, San Fran: 2, Green Bay: 3, New England: 4</div>
<form id="locationForm" action="/Event">
    <input type="number" id="CityID" step="any" name="CityID" />
    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
</form>
<button id="locBtn" onclick="getLocation()"><i class="fa fa-location-arrow"></i></button>

<div id="results">