@page
@model Assign4.Pages.CityEventCountModel
@{

}
    <form id="CityEventsCountForm" asp-page-asp-page-handler="GetCityEventsCount">
        <input type="text" id="cityName" name="CityName" />
        <input type="submit" id="submitBtn" value="Get Events Count" class="btn btn-primary" />
        </form>

        <div id="EventsCount">


        </div>