@page
@model Assign4.Pages.EventModel
@{
    var CityID = HttpContext.Request.Query["CityID"];
}
<div class="Below displays the eventID, event name, and price">The EventID, Event name, and Price</div>

<div id="EventID" style="visibility: visible;"></div>
<div id="EventName" style="visibility: visible;"> </div>
<div id="EventPrice" style="visibility: visible;"> </div>

<script type="module"> 
    displayCityEvents(@CityID)
</script>