@page
@model Assign4.Pages.EventModel
@{
    var CityID = HttpContext.Request.Query["CityID"];
}
<h1 class="The eventID, event name, and price"></h1>

<h2 id="EventID" style="visibility: visible;"></h2>
<div id="EventName" style="visibility: visible;"> </div>
<div id="EventPrice" style="visibility: visible;"> </div>

<script type="module"> 
    displayCityEvents(@CityID)
</script>