@page
@model Assign4.Pages.EventModel
@{
    var CityID = HttpContext.Request.Query["CityID"];
}

<div id="EventID" style="visibility: hidden;"></div>
<div id="EventName" style="visibility: hidden;"> </div>
<div id="EventPrice" style="visibility: hidden;"> </div>

<script type="module"> 
    displayCityEvents(@CityID)
</script>