@page
@model Assign4.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="app-wrap">
        <header>
            <a href="Additions">Future Additions</a>
            <input type="text" autocomplete="off" class="search-box" placeholder="Search for an NFL city..." onkeypress="setQuery()" />
            <a href="about-us">About Us</a><br>


        </header>
        <main>
            <div class="temp-heading">Average Temp: </div>
            <div class="price-heading">Average Price: </div>
            <section class="location">
                <div class="city">New York, US</div>
                <div class="date">Wednesday 22 July 2020</div>
            </section>
            <div class="current">
                <div class="temp">59<span>°F</span></div>
                <div class="weather">Sunny</div>
                <div class="hi-low">55°F / 61°F</div>
            </div>
            <a href="City-events">Search for city events</a><br>
            <a href="City-info">Search for city info</a><br>

    </div>
    

</div>

    </main>
    </div>
    <script src="js/site.js"></script>
</body>
</html>
