@page
@model Assign4.Pages.InfoModel
@{
    var CityID = HttpContext.Request.Query["CityID"];
}


<div id="EventID" style="visibility: visible; color: white;"></div>
<div id="EventName" style="visibility: visible; color: white;"></div>
<div id="EventPrice" style="visibility: visible; color: white;"></div>
<div id="CityID" style="visibility: visible; color: white;"></div>
<div id="CityName" style="visibility: visible; color: white;"></div>
<div id="AvgTemp" style="visibility: visible; color: white;"></div>


<script type="module">
    displayCityInfo(@CityID)
</script>